.SpanForSpaces {
  padding-left: 35px;
  display: inline-block;
}

.SkillsUl {
  font-style: italic;
  font-size: 14px;
  padding-left: 0;
}

.skillsLi {
  width: 447px;
  height: 48px;
  border: 1px solid #525557;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 17px;
  padding-right: 40px;
}

.RemoveButton {
  color: red;
  border: none;
  width: 20px;
  height: 20px;
  padding: 0;
  margin-left: auto;
  background-color: #ffffff;
}

.body {
  height: 0;
  width: auto;
  overflow: hidden;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
}

.body.open {
  height: auto;
  display: flex;
  width: auto;
  background: white;
}

.head {
  width: auto;
  height: 52px;
  background-color: #f05039;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  font-size: 20px;
  color: white;
  align-items: center;
}
.Main {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 10px auto;
  width: 70%;
  height: auto;
}

.applicationsbutton {
  background-color: #f05039;
  border: none;
  font-size: 50px;
  color: white;
}

.applicationsSides {
  width: 50%;
  padding: 20px 20px 100px 40px;
}

.rotate {
  transform: rotate(180deg);
}

.ApplicationsRedHeading {
  font-style: italic;
  font-size: 18px;
  font-weight: 400;
  text-decoration-line: underline;
  color: #fe3b1f;
}

.PersnoalInformation div {
  padding-top: 8px;
}

.PersnoalInformation span {
  padding-right: 20px;
}
